@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'kalnia';
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 10px;
    gap: 10px;
    border-radius: 60px;
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    font-family: roboto;
    color: #223800;
    border-radius: 30px;
    padding: 10px 40px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo span{
    color: #fff;
    display: none;
    font-size: 50px;
}

.navbar a:hover {
    background: linear-gradient(#4A102A, #9d1842);
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    color: #f3f3f3;
    box-shadow: 0 0 20px #97ff005e;
    font-weight: bold;
}
#action-btn {
    background: #447500;
    background: linear-gradient(#4A102A, #9d1842);
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: #f3f3f3;
    box-shadow: 0 0 20px #4a102a89;
    font-weight: bold;
    border: 1px solid #ffffff50;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    cursor: pointer;
}
#action-btn:hover{
    transform: scale(1.1);
}


.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: red;
    height: 100%;
    padding: 30px;
    background: linear-gradient(#4A102A, #9d1842);
}

.shake {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.shake img {
    width: 400px;
    animation: tilt infinite alternate 3s ease-in-out;
    border-radius: 300px;
    backdrop-filter: blur(10px);
    background: #ffb3cd14;
}

@keyframes tilt{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

.intro-d{
    width: 40%;
}
.intro-d h1{
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}

#section-prop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.pd-image img {
    width: 800px;
}

#title {
    font-size: 60px;
    color: #4A102A;
}

.reels {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}

.reels div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.reels div img {
    transition: linear 0.6s;
    width: 200px;
}

.reels div img:hover {
    opacity: .5;
}

.branch {
    background: #FCF259;
}

.branch-names h1 {
    background: #fffbc8;
    border-radius: 30px;
    border: 1px solid #350011;
    padding: 20px;
    box-shadow: 4px 4px 0 #85193C;
    font-family: 'roboto';
    color: #85193C;
    cursor: pointer;
    transition: all .1s;
}
.branch-names h1:hover{
    box-shadow: none;
}

.staff-image img {
    width: 600px;
}

.about {
    width: 40%;
}

.about p {
    line-height: 30px;
    font-family: 'roboto';
}

.zomato img {
    width: 500px;
}

.details h3 {
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #350011;
    padding: 20px;
    box-shadow: 4px 4px 0 #85193C;
    font-family: 'roboto';
    color: #85193C;
    cursor: pointer;
    transition: all .1s;
}
.details h3:hover{
    background: #FCF259;
    box-shadow: none;
}

.pd-details {
    width: 30%;
}

.pd-details p {
    font-family: 'roboto';
    line-height: 30px;
    width: 80%;
}

.footer {
    background: #4A102A;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 20px;
    justify-content: center;
    color: #ffffff;
    font-family: 'roboto';
}

@media screen and (max-width: 600px) {
    .pd-image img {
        width: 100%;
    }

    .branch-image img {
        width: 100%;
    }

    .staff-image img {
        width: 100%;
    }

    .zomato img {
        width: 100%;
    }

    #title {
        font-size: 35px;
    }

    .reels div img {
        width: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .pd-details {
        width: 100%;
    }

    .pd-details p {
        width: 100%;
    }

    #section-prop {
        margin: 10px;
        gap: 0;
        padding: 10px;
    }

    .contact,
    .branch {
        margin: 0 !important;
    }

    .about {
        width: 100%;
    }
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px;
}



@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}

iframe{
    margin: auto;
    display: block;
    border-radius: 30px;
    border: 0;
}

.map{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #4A102A;
}

marquee{
    background: #FCF259;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    transform: rotate(2deg);
    position: relative;
    z-index: 2;
}
marquee h1{
    color: transparent;
    -webkit-text-stroke: 0.6px black;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

#marq-2{
    transform: rotate(-3deg);
    background: #fff;
    margin-top: -60px;
    z-index: 1;
    margin-bottom: 60px;
}


@media screen and (max-width: 800px) {
    .navbar{
        display: none;
    }
    .logo{
        justify-content: space-between;
    }
    .logo span{
        display: block;
    }
    .logo img{
        width: 60px;
    }
    .intro-d{
        width: 100%;
    }
    .shake img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .intro-d h1{
        font-size: 30px;
    }

}



.sidebar {
    height: 100%;
    width: 250px;
    background-color: #FCF259;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.4s ease;
    padding-top: 30px;
    color: white;
    z-index: 1000;
    font-family: roboto;
    font-weight: bold;

  }
  .sidebar a {
    display: block;
    padding: 25px 40px;
    text-decoration: none;
    color: #350011;
    font-size: 22px;
  }

  .sidebar a:hover{
    transform: scale(1.1);
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }

  .sidebar.active {
    left: 0;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }


  /* jiodhdjf */
  .menu-section {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background: #FCF259;
    border-radius: 8px;
    transition: 0.3s all;
    cursor: pointer;
    font-family: roboto;
  }
  .menu-item:hover {
    box-shadow: 4px 4px 0 #85193C;
    border: 1px solid #350011;
  }
  .menu-name {
    font-size: 20px;
    color: #222;
    text-align: left;
  }
  .menu-price {
    font-size: 18px;
    font-weight: bold;
    color: #350011;
  }